@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a; /* كحلي غامق جداً */
  color: #ffffff;
  font-family: sans-serif; /* يفضل استخدام خط Cairo إذا كان متاحاً */
  @apply antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 10px;
}
